body{
    background: #7E8F7C;
}

.gap{
    height: 120px;
    color: white;
}

.container{
    margin: 0 auto;
    width: 960px;
}

.header{
    width: 100%;
    background: lightskyblue;
    position: fixed;
    height: 120px;
    
}
.fix{
    float: left;
}
nav{
    float: right;
}

h2{
    text-align: center;
    font-family: 'League Script', cursive;
    font-size: 50px;
}
#hero{
    width: 100%;
}
h1{
    font-family: 'Lobster', cursive;
    color:#C63D0F
}
li,p{
    font-family: 'Bree Serif', serif;
    font-size: 20px;
}
.ao{
    font-family: 'Rationale', sans-serif;
    font-size: 20px;
    color: blue;
    background: pink;
}
footer{
    background: grey;
    padding: 10px;
}
h3{
    color: red;
}

.g1{
    background: palevioletred;
}