
.gap{
    height: 100px;
    
}

.container{
    background: #edbc43;
}

header{
    width: 100%;
    /*background: lightskyblue;*/
    position: fixed;
    height: 120px;
    
}
.fix{
    float: left;
}
li{
    float: right;
    list-style-type: none;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
  
}
.co{
    background: lightskyblue;
}


h2{
    text-align: center;
    font-family: 'Lobster', cursive;;
    color:#FFF3C6;
    font-size: 20px;
}
.hero{
    height: 100%;
    background-image: url("/home/user/workspace/intro_960/image/hero.jpg");
    /*background-repeat: no-repeat;*/
    background-size: cover;
    text-align: center;
    /*color: #E5952D;*/
    color: #FBF5F3;
    /*font-size: 50px;*/
    /*font-family: 'Pacifico', cursive;*/
    font-family: 'Acme', sans-serif;
    letter-spacing: 1px;
    
}
.hero>div{
    padding-top:8em;
}

li,p{
    font-family: 'Bree Serif', serif;
    font-size: 20px;
}
.ao{
    font-family: 'Rationale', sans-serif;
    font-size: 20px;
    color: blue;
    background: pink;
}
footer{
    background: grey;
    padding: 10px;
}
/*h3{
    color: red;
}*/

.g1{
    background: palevioletred;
}
#placement{
    height: 225px;
    width: 225px;
}
.color1{
    background: #084C61;
}
.seperate{
    border-right: solid black 1px;
}
strong{
    font-size: 20px;
}
.hero{
     background-image:"image/hero.jpg";
}
a{
    text-decoration: none;
   margin: 5px;
   text-shadow: 2px 2px 5px black;
    
}
